/*
    This file defines each animation keyframe.
*/
@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg); 
    opacity: 1;
  }
  50% {
    transform: translateY(-25px) rotate(180deg); 
    opacity: 0.8;
  }
  100% {
    transform: translateY(-50px) rotate(360deg); 
    opacity: 0.7;
  }
}

@keyframes Bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes Slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}